{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}VendaFácil{% endblock %}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'dashboard' %}">VendaFácil PDV</a>

            <div class="ms-auto">
                <ul class="navbar-nav">

                    {% if user.is_authenticated %}
                        {% if sessao_caixa_aberta %}
                        <li class="nav-item">
                            <a class="btn btn-warning me-4" href="{% url 'sales:fechar_caixa' %}">
                                Fechar Caixa
                            </a>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <span class="navbar-text text-white me-4">
                                Olá, {{ user.username }}
                            </span>
                        </li>
                        <li class="nav-item">
                           <form action="{% url 'logout' %}" method="POST" class="d-inline">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-outline-light me-4">Sair</button>
                            </form>
                        </li>
                    {% else %}
                        {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <main class="container mt-4">
        {% if messages %}
            <div class="row">
                <div class="col-md-12">
                    {% for message in messages %}
                        <div class="alert alert-{% if message.tags %}{{ message.tags }}{% else %}info{% endif %} alert-dismissible fade show" role="alert">
                            {{ message }}
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
        {% block content %}
        {% endblock %}
    </main>

    <footer class="text-center mt-5 text-muted">
        <p>&copy; {% now "Y" %} VendaFácil - TCC</p>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

    {% block scripts %}
    {% endblock scripts %}
    
</body>
</html>